In [15]:
import pandas as pd

In [16]:
#from an excel file --- need to install openpyxl dependency

#from github
username = "datagus"
repository = "ASDA2025"
directory = "datasets/homework_week5/world_bank_development_indicators.csv"
github_url = f"https://raw.githubusercontent.com/{username}/{repository}/main/{directory}"
indicators_df = pd.read_csv(github_url)

In [17]:
#from github
username = "datagus"
repository = "ASDA2025"
directory = "datasets/homework_week5/income.xlsx"
github_url = f"https://raw.githubusercontent.com/{username}/{repository}/main/{directory}"
income_xls = pd.ExcelFile(github_url)

In [18]:
income_xls

In [19]:
indicators_df

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.878356,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.955016,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,58.031676,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.116002,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17267,Zimbabwe,2019-01-01,41.876696,45.213002,386850.0,657.0,6.927164,-1.271190,0.133336,46.682095,...,NaN,50.3,31.518,8.043,61.292,15354608.0,10408889.0,-1.163669,0.117815,5.145035
17268,Zimbabwe,2020-01-01,41.876696,45.093912,386850.0,657.0,5.118949,-1.287992,0.140076,52.747667,...,NaN,NaN,31.009,8.132,61.124,15669666.0,10617452.0,-1.113408,0.120230,4.977770
17269,Zimbabwe,2021-01-01,41.876696,44.974822,386850.0,NaN,NaN,-1.253550,0.151591,48.979927,...,NaN,NaN,30.537,9.057,59.253,15993524.0,10827136.0,-1.135830,0.120300,6.139985
17270,Zimbabwe,2022-01-01,NaN,NaN,NaN,NaN,NaN,-1.255139,0.151262,NaN,...,NaN,NaN,NaN,NaN,NaN,16320537.0,11033499.0,-1.102206,0.119338,NaN
17271,Zimbabwe,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# List all sheets
print(income_xls.sheet_names)

['List of economies', 'composition', 'notes']

In [21]:
# Parse and create the different dataframes:
#gas_df
#water_df
#land_df

economies_df = income_xls.parse('List of economies')
composition_df = income_xls.parse('composition')
notes_df = income_xls.parse('notes')

In [22]:
economies_df

,Economy,Code,Region,Income group,Lending category
0,Afghanistan,AFG,"Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
2,Algeria,DZA,"Middle East, North Africa, Afghanistan & Pakistan",Upper middle income,IBRD
3,American Samoa,ASM,East Asia & Pacific,High income,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN
...,...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN
265,Upper middle income,UMC,NaN,NaN,NaN
266,World,WLD,NaN,NaN,NaN

In [23]:
composition_df

,WB_Group_Code,WB_Group_Name,WB_Country_Code,WB_Country_Name
0,AFE,Africa Eastern and Southern,AGO,Angola
1,AFE,Africa Eastern and Southern,BWA,Botswana
2,AFE,Africa Eastern and Southern,BDI,Burundi
3,AFE,Africa Eastern and Southern,COM,Comoros
4,AFE,Africa Eastern and Southern,COD,"Congo, Dem. Rep."
...,...,...,...,...
2074,WLD,World,VIR,Virgin Islands (U.S.)
2075,WLD,World,PSE,West Bank and Gaza
2076,WLD,World,YEM,"Yemen, Rep."
2077,WLD,World,ZMB,Zambia
2078,WLD,World,ZWE,Zimbabwe

In [24]:
notes_df

                                               Notes
0  This table classifies all World Bank member co...
1                                                NaN
2  IDA countries are those that lack the financia...
3                                                NaN
4  Notes: The term country, used interchangeably ...