# Lego inventory cleaning

In [3]:
# combine all sheets from an Excel file into a single DataFrame and save to a new Excel file
import pandas as pd

# Step 1: Load the Excel file
file_path = r"C:\\Users\\dalal\\Downloads\\LegoDatabase.xlsx" 

# Read all sheets into DataFrames
all_sheets = pd.read_excel(file_path, sheet_name=None)  

# Step 2: Concatenate all sheets into one DataFrame
combinedLego_df = pd.concat(all_sheets.values(), ignore_index=True)

# Step 3: Save the merged DataFrame to a new Excel file
combinedLego_df.to_excel(r"C:\\Users\\dalal\\Downloads\\combined_LegoDataset.xlsx", index=False)

In [4]:


# read eq csv file from Github

username = "StefanFSmid"
repository = "ASDA_2025_Group_3_Porfolio"
#directory = "additional_material/GEOFON_EQ_data_recent.csv"
#github_url = f"https://raw.githubusercontent.com/{username}/{repository}/main/{directory}"
#eq_df = pd.read_csv(github_url)

In [25]:
combinedLego_df

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock
0,NaN,darkblue,Yes,Brick,Rectangle,2x4,8.0,No,0.0,1
1,NaN,green,Yes,Brick,Rectangle,2x4,8.0,No,0.0,1
2,NaN,coral,Yes,Brick,Square,2x2,4.0,No,0.0,1
3,NaN,red,Yes,Brick,Square,2x2,4.0,No,0.0,1
4,NaN,white,Yes,Brick,Square,2x2,4.0,No,0.0,1
...,...,...,...,...,...,...,...,...,...,...
199,NaN,transparentorange,No,Plate,Square,1x1,0.0,No,0.0,1
200,NaN,black,No,Plate,Trapezium,2x2,4.0,No,0.0,1
201,NaN,yellow,No,Plate,Rectangle,1x2,0.0,No,0.0,1
202,NaN,transparentskyblue,No,Plate,Circle,1x1,0.0,No,0.0,1
203,NaN,transparentyellow,No,Plate,Circle,1x1,0.0,No,0.0,1

In [37]:
combinedLego_df.drop(columns=['id'],inplace=True)

## Data Cleaning

In [31]:
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
#descriptive statistics

In [28]:
combinedLego_df.describe()

       number of studs  slope degree  in stock
count       204.000000    204.000000     204.0
mean          4.906863      5.073529       1.0
std           4.996171     14.111431       0.0
min           0.000000      0.000000       1.0
25%           2.000000      0.000000       1.0
50%           4.000000      0.000000       1.0
75%           6.000000      0.000000       1.0
max          24.000000     45.000000       1.0

In [38]:
combinedLego_df.select_dtypes(include=np.object)

,color,is duplo?,size type,base shape,base dimensions,has slope?
0,darkblue,Yes,Brick,Rectangle,2x4,No
1,green,Yes,Brick,Rectangle,2x4,No
2,coral,Yes,Brick,Square,2x2,No
3,red,Yes,Brick,Square,2x2,No
4,white,Yes,Brick,Square,2x2,No
...,...,...,...,...,...,...
199,transparentorange,No,Plate,Square,1x1,No
200,black,No,Plate,Trapezium,2x2,No
201,yellow,No,Plate,Rectangle,1x2,No
202,transparentskyblue,No,Plate,Circle,1x1,No
203,transparentyellow,No,Plate,Circle,1x1,No

In [5]:
# Find the unique values in 'color' column
print(combinedLego_df['color'].unique())

['Dark Blue' 'Green' 'Coral' 'Red' 'White' 'Light Green' 'Orange' 'Yellow'
 'Brown' 'Purple' 'Lilac' 'Orchid' 'Dark Grey' 'Light Grey' 'Pink'
 'Dark Green' 'Cream' 'Black' 'Red Brown' 'Neon Yellow' 'Cyan'
 'Denim Blue' 'Ice Blue' 'Capri' 'Shiny Green' 'Olive Green' 'Beige'
 'Bright Pink' 'Transparent' 'lightgreen' 'lightbrown' 'lightpink' 'red'
 'yellow' 'darkblue' 'darkgreen' 'darkpink' 'orange' 'darkpurple'
 'lightpurple' 'white' 'grey' 'mudbrown' 'black' 'turquoise' 'lightblue'
 'neon orange' 'neon dark yellow' 'neon light yellow' 'darkbrown'
 'bright green' 'pink' 'peach' 'blue' 'pear' 'dark green ' 'dark green'
 'sky blue' 'bright yellow' 'navy blue' 'purple' 'maroon' 'cream' 'khaki'
 'neon green' 'neon yellow' 'neon blue' 'coral' 'lime green' 'green'
 'brick red' 'cyan' 'baby blue' 'cafe' 'hot magent' 'Green ' 'Blue' 'Grey'
 'Sky Blue' 'Deep Blue' 'Sky blue' 'Transparent yellow'
 'Transparent orange' 'Blck' 'Transparent sky blue']

In [52]:
combinedLego_df['color'].value_counts(ascending=True)

transparentskyblue     1
iceblue                1
capri                  1
shinygreen             1
olivegreen             1
                      ..
grey                  12
white                 13
red                   13
black                 15
yellow                16
Name: color, Length: 62, dtype: int64

In [39]:
print(combinedLego_df['color'].nunique())

62

In [6]:
# Step 1: Lowercase everything
combinedLego_df['color'] = combinedLego_df['color'].astype(str).str.lower()
# Find the unique values in 'color' column
print(sorted(combinedLego_df['color'].unique()))
print("Number of unique colors:", len(combinedLego_df['color'].unique()))

['baby blue', 'beige', 'black', 'blck', 'blue', 'brick red', 'bright green', 'bright pink', 'bright yellow', 'brown', 'cafe', 'capri', 'coral', 'cream', 'cyan', 'dark blue', 'dark green', 'dark green ', 'dark grey', 'darkblue', 'darkbrown', 'darkgreen', 'darkpink', 'darkpurple', 'deep blue', 'denim blue', 'green', 'green ', 'grey', 'hot magent', 'ice blue', 'khaki', 'light green', 'light grey', 'lightblue', 'lightbrown', 'lightgreen', 'lightpink', 'lightpurple', 'lilac', 'lime green', 'maroon', 'mudbrown', 'navy blue', 'neon blue', 'neon dark yellow', 'neon green', 'neon light yellow', 'neon orange', 'neon yellow', 'olive green', 'orange', 'orchid', 'peach', 'pear', 'pink', 'purple', 'red', 'red brown', 'shiny green', 'sky blue', 'transparent', 'transparent orange', 'transparent sky blue', 'transparent yellow', 'turquoise', 'white', 'yellow']
Number of unique colors: 68

In [7]:
# Remove all spaces in the 'color' column
combinedLego_df['color'] = combinedLego_df['color'].str.replace(' ', '', regex=False)

# Fix specific misspellings
combinedLego_df['color'] = combinedLego_df['color'].replace({
    'blck': 'black',
    'hotmagent': 'hotmagenta',
})

# Check sorted unique values
print(sorted(combinedLego_df['color'].unique()))
print("Number of unique colors:", len(combinedLego_df['color'].unique()))

['babyblue', 'beige', 'black', 'blue', 'brickred', 'brightgreen', 'brightpink', 'brightyellow', 'brown', 'cafe', 'capri', 'coral', 'cream', 'cyan', 'darkblue', 'darkbrown', 'darkgreen', 'darkgrey', 'darkpink', 'darkpurple', 'deepblue', 'denimblue', 'green', 'grey', 'hotmagenta', 'iceblue', 'khaki', 'lightblue', 'lightbrown', 'lightgreen', 'lightgrey', 'lightpink', 'lightpurple', 'lilac', 'limegreen', 'maroon', 'mudbrown', 'navyblue', 'neonblue', 'neondarkyellow', 'neongreen', 'neonlightyellow', 'neonorange', 'neonyellow', 'olivegreen', 'orange', 'orchid', 'peach', 'pear', 'pink', 'purple', 'red', 'redbrown', 'shinygreen', 'skyblue', 'transparent', 'transparentorange', 'transparentskyblue', 'transparentyellow', 'turquoise', 'white', 'yellow']
Number of unique colors: 62

In [8]:
# Find the unique values in 'is duplo?' column
print(combinedLego_df['is duplo?'].unique())

[True False 'yes' 'no']

In [41]:
print(combinedLego_df['is duplo?'].nunique())

2

In [47]:
combinedLego_df['is duplo?'].value_counts()

No     171
Yes     33
Name: is duplo?, dtype: int64

In [9]:
# Standardize 'is duplo?' column values
combinedLego_df['is duplo?'] = combinedLego_df['is duplo?'].map({
    1: 'Yes',
    0: 'No',
    True: 'Yes',
    False: 'No',
    'yes': 'Yes',
    'no': 'No'
})

# Print updated unique values
print(combinedLego_df['is duplo?'].unique())

['Yes' 'No']

In [10]:
# Find the unique values in 'size type' column
print(combinedLego_df['size type'].unique())

['Brick' 'Plate' 'plate' 'brick' 'tile']

In [42]:
print(combinedLego_df['size type'].nunique())

2

In [48]:
combinedLego_df['size type'].value_counts()

Plate    108
Brick     96
Name: size type, dtype: int64

In [11]:
# Standardize 'size type' column values
combinedLego_df['size type'] = combinedLego_df['size type'].replace({
    'brick': 'Brick',
    'plate': 'Plate',
    'tile': 'Plate'
})

# Print updated unique values
print(combinedLego_df['size type'].unique())

['Brick' 'Plate']

In [12]:
# Find the unique values in 'base shape' column
print(combinedLego_df['base shape'].unique())

['Rectangle' 'Square' 'Circle' 'Trapezium' 'rectangle' 'square' 'triangle'
 'trapezium' 'circle' 'trapezoid' 'Round' 'Wadge']

In [43]:
print(combinedLego_df['base shape'].nunique())

5

In [49]:
combinedLego_df['base shape'].value_counts()

Rectangle    109
Square        59
Circle        25
Trapezium      9
Triangle       2
Name: base shape, dtype: int64

In [13]:
# Standardize 'base shape' column values
combinedLego_df['base shape'] = combinedLego_df['base shape'].replace({
    'rectangle': 'Rectangle',
    'square': 'Square',
    'triangle': 'Triangle',
    'circle': 'Circle',
    'Round': 'Circle',
    'trapezium': 'Trapezium',
    'trapezoid': 'Trapezium',
    'Wadge': 'Trapezium'

})

# Print updated unique values
print(combinedLego_df['base shape'].unique())

['Rectangle' 'Square' 'Circle' 'Trapezium' 'Triangle']

In [14]:
# Find the unique values in 'base dimensions' column
print(combinedLego_df['base dimensions'].unique())

['2 x 4' '2 x 2' '2 x 8' '1 x 4' '1 x 3' '2 x 6' '1 x 2' '4 x 6' '1 x 1'
 '2 x 3' '0 x 0 ' '0 x 0' '2 x 4 + 2 x 2' '2*4' '2*8' '2*2' '2*6' '2*3'
 '1*3' '1*4' '1*2' '1*1' '4*6' '4 X 2' '2 X 2' '8 X 2' '6 X 2' '4 X 1'
 '2 X 1' '3 X 2' '6 X 4' '1 X 1' '4 X 4' '3 X 1' '2x4' '2x8' '2x2' '2x6'
 '2x3' '1x2' '1x4' '1x3' '1x1' '4x4' '4x6' '4*4']

In [44]:
print(combinedLego_df['base dimensions'].nunique())

14

In [50]:
combinedLego_df['base dimensions'].value_counts()

2x2    47
1x1    33
2x4    29
1x2    29
1x4    15
2x8    10
2x3     7
2x1     7
1x3     6
2x6     6
4x6     5
0x0     5
4x4     3
3x2     2
Name: base dimensions, dtype: int64

In [15]:
# Standardize base dimensions
combinedLego_df['base dimensions'] = (
    combinedLego_df['base dimensions']
    .astype(str)                       
    .str.strip()                       
    .str.lower()                       
    .str.replace(r'\s*x\s*', 'x', regex=True)  
    .str.replace(r'\*', 'x', regex=True)       
    .str.split('+').str[0]             
    .str.strip()                        
)
# Print updated unique values
print(combinedLego_df['base dimensions'].unique())

['2x4' '2x2' '2x8' '1x4' '1x3' '2x6' '1x2' '4x6' '1x1' '2x3' '0x0' '4x2'
 '8x2' '6x2' '4x1' '2x1' '3x2' '6x4' '4x4' '3x1']

In [16]:
# Further standardize common patterns in 'base dimensions'
combinedLego_df['base dimensions'] = (
    combinedLego_df['base dimensions']
    .str.replace('4x2', '2x4')
    .str.replace('8x2', '2x8')
    .str.replace('6x2', '2x6')
    .str.replace('4x1', '1x4')
    .str.replace('3x1', '1x3')
    .str.replace('6x4', '4x6')
)
# Print updated unique values
print(combinedLego_df['base dimensions'].unique())

['2x4' '2x2' '2x8' '1x4' '1x3' '2x6' '1x2' '4x6' '1x1' '2x3' '0x0' '2x1'
 '3x2' '4x4']

In [17]:
# Find the unique values in 'has slope?' column
print(combinedLego_df['has slope?'].unique())

[False True 'no' 'yes']

In [45]:
print(combinedLego_df['has slope?'].nunique())

2

In [18]:
# Standardize 'has slope?' column values
combinedLego_df['has slope?'] = combinedLego_df['has slope?'].map({
    1: 'Yes',
    0: 'No',
    True: 'Yes',
    False: 'No',
    'yes': 'Yes',
    'no': 'No'
})

# Print updated unique values
print(combinedLego_df['has slope?'].unique())

['No' 'Yes']

In [19]:
# Find the unique values in 'slope degree' column
print(combinedLego_df['slope degree'].unique())

[nan 45.  0. 15. 30.]

In [20]:
# Convert blanks to 0
combinedLego_df['slope degree'] = combinedLego_df['slope degree'].fillna(0)

# Print updated unique values
print(combinedLego_df['slope degree'].unique())

[ 0. 45. 15. 30.]

In [21]:
# Find the unique values in 'in stock' column
print(combinedLego_df['in stock'].unique())

[1 'yes']

In [22]:
# Set all values to 1 since yes are 1s
combinedLego_df['in stock'] = 1

# Print updated unique values
print(combinedLego_df['in stock'].unique())

[1]

In [23]:
# Drop the 'transparent' column
combinedLego_df = combinedLego_df.drop(columns=['transparent'])

# Verify all column lists in dataframe
print(combinedLego_df.columns)

Index(['id', 'color', 'is duplo?', 'size type', 'base shape',
       'base dimensions', 'number of studs', 'has slope?', 'slope degree',
       'in stock'],
      dtype='object')

In [51]:
combinedLego_df['has slope?'].value_counts()

No     180
Yes     24
Name: has slope?, dtype: int64

## (Optional) Basic exploration plots